<!-- Add Picture -->
<div>
  <h2>
    <span translate>
      {{ 'Contact' | translate }}
    </span>
  </h2>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
  <div id="emailContact">
    <address>
        <a href="mailto:michddesign@gmail.com">
            <i class="fa fa-at"></i>
            <span>michddesign@gmail.com</span>
        </a>
    </address>
  </div>
  <div id="phoneContact">
    <a href="tel:+972-52-811-8550">
      <i class="fa fa-mobile"></i>
      <span>052-811-8550</span>
    </a>
  </div>
</div>