@font-face 
{
  font-family: almoni-dl-aaa-300;
  src: url(assets/fonts/almoni-dl-aaa-300.ttf) format("opentype");
}

@font-face 
{
  font-family: arian-lt-w20-light;
  src: url(assets/fonts/arian-lt-w20-light.ttf) format("opentype");
}